<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mathstudy">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathStudy"
        tools:targetApi="31">
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activities.OnBoarding"
            android:exported="true" />
        <activity
            android:name=".activities.OnBoardingSettings"
            android:exported="true" />
        <activity
            android:name=".activities.PdfReader"
            android:exported="true" />
        <activity
            android:name=".activities.Documents"
            android:exported="true" />
        <activity
            android:name=".activities.Years"
            android:exported="true" />
        <activity
            android:name=".activities.Categories"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.Sections"
            android:exported="true">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>